:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--dark-navy);
  background-color: var(--purple);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-navy: #0A192F;
  --green: #2BFCCF;
  --gray: #8892B0;
  --white: #FFFFFF;
  --light-purple: rgb(190, 166, 232);
  --purple: #f4ade1;
  --highlight-color: #007BFF; 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var( --dark-navy);
  border-color: var(--dark-navy);
}
button:hover {
  background-color: var(--dark-navy);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var( --purple);
  border-color: var(--purple);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


